<article class="unit-article layout-post">
	<div class="unit-inner unit-article-inner">
		<div class="content">
			<header>
				<div class="unit-head">
					<div class="unit-inner unit-head-inner">
						<h1 class="h2 entry-title">{{ page.title }}</h1>
					</div><!-- unit-inner -->
				</div><!-- unit-head -->
			</header>

			<div class="bd">
				<div class="entry-content">
					{{ content }}
					<div class="meta">
						<p class="date-publish">
							Published: 
							<date class="date-pub" title="{{ page.date | date_to_xmlschema }}" datetime="{{ page.date | date_to_xmlschema }}" pubdate>
							<span class="month"><abbr>{{ page.date | date: '%B' }}</abbr></span>
							<span class="day">{{ page.date | date: '%d' }}</span>
							<span class="year">{{ page.date | date: '%Y' }}</span>
							</date>
						</p>
						<ul class="list-category list-linear">
							<li class="list-head">category: </li>
							{% assign categories_list = page.categories %}
							{% include JB/categories_list %}
						</ul>
						<ul class="list-tag list-linear">
							<li class="list-head">tags: </li>
							{% assign tags_list = page.tags %}
							{% include JB/tags_list %}
						</ul>
					</div><!-- meta -->
				</div><!-- entry-content -->
				<div class="misc-content">
					<div class="social">
						<ul class="list-linear">
							<li><div class="twitter-follow"><a href="https://twitter.com/{{ site.author.twitter }}" class="twitter-follow-button" data-show-count="false" data-lang="en"></a></div></li>
                            <!-- Place this tag where you want the widget to render. -->
                            <li><div class="g-follow" data-annotation="bubble" data-height="20" data-href="//plus.google.com/u/0/102288050821681391977" data-rel="author"></div></li>

                            <!-- Place this tag after the last widget tag. -->
                            <script type="text/javascript">
                                (function() {
                                    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                                    po.src = 'https://apis.google.com/js/platform.js';
                                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                                })();
                            </script>
							<li><div class="fb-like" data-href="https://www.facebook.com/pages/Codersstop/1628710950682407" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div></li>
							<li>
                                <iframe src="http://ghbtns.com/github-btn.html?user=codersstop&repo=Feedback&count=true&type=follow"
                                        allowtransparency="true" frameborder="0" scrolling="0" width="165" height="20"></iframe>
							</li>
                            <li>
                                <a href="http://news.ycombinator.com/submitlink?u=http://codersstop.github.com{{ page.url }}&amp;t={{ page.title }}" target="_blank" style="margin-bottom: 0.3em !important;"><img src="/assets/y.gif" style="margin-bottom: 0.3em !important;" title="Submit {{ page.title }} to Hacker News"></a>
                            </li>
                        </ul>
					</div>
					<div class="comment">
					{% include JB/comments %}
					</div>
				</div><!-- misc-content -->
			</div><!-- bd -->
			<footer class="unit-foot">
				<div class="unit-inner unit-foot-inner">
					<nav class="pagination">
						<ul>
							{% if page.previous %}
							<li class="prev"><a class="internal" rel="prev"  href="{{ page.previous.url }}" title="View {{ page.previous.title }}">&laquo; {{ page.previous.title }}</a></li>
							{% endif %}
							{% if page.previous and page.next %}
							<li class="pipe"> | </li>
							{% endif %}
							{% if page.next %}
							<li class="next"><a class="internal" rel="next"  href="{{ page.next.url }}" title="View {{ page.next.title }}">{{ page.next.title }} &raquo;</a></li>
							{% endif %}
						</ul>
					</nav>
					<p class="gotop">
						<a href="#page">Back to Top</a>
					</p>
				</div>
			</footer>

		</div><!-- content -->
	</div><!-- unit-inner -->
</article>
